.Wrapper {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #eff1f3;
  box-shadow: 0px 0.5px 1px rgba(6, 20, 37, 0.05);
  :global {
    .ant-breadcrumb {
      text-align: center !important;
    }
  }
}

.BtnClose {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.BtnDone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.Title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #061425;
}
