.planContainer {
  width: 344px;
  min-height: 436px;
  background: #ffffff;
  border: 1px solid #eff1f3;
  box-shadow: 0px 0.5px 1px rgba(6, 20, 37, 0.05);
  border-radius: 6px;
  padding: 24px;
  margin-left: 40px;
  display: inline-table;
  position: relative;
}
.planName {
  font-size: 14px;
  color: #626970;
  line-height: 20px;
}
.planRate {
  font-weight: bold;
  line-height: 40px;
  font-size: 32px;
  color: #061425;
  margin-bottom: 32px;
}
.descItems {
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.learnMore {
  /* position: absolute;  */
  bottom: 0px;
  display: inline-table;
  margin: 10px;
  margin-left: 0px;
  width: 296px;
}
.planStatus {
  margin: 10px;
  width: 296px;
  margin-left: 0px;
  height: 44px;
}
.downgradeType{
  margin: 10px;
  width: 296px;
  margin-left: 0px;
  height: 44px;
  background: #F3F4F5 !important;
}
.downgradeTypeLabel{
  color: #061425;
}
.planCurrent {
  background-color: rgba(0, 56, 255, 0.5) !important;
  margin: 10px;
  width: 296px;
  margin-left: 0px;
  height: 44px;
}
.learnMoreLabel {
  color: #0038ff;
}
.recommended {
  position: absolute;
  left: 229.14px;
  top: 0px;
}
.planDuration {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626970;
  display: inline-block;
  margin-left: 4px;
}
.reasonHeader{
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}
.asterix{
  display: inline-block;
  color: #E8340D;
}
.dropdownClassName {
  border: 0.5px solid #D9DDE1;
  box-shadow: 0px 0.5px 1px rgba(6, 20, 37, 0.05);
  border-radius: 5px;
  width: 552px;
  text-align: left;
  height: 44px;
}
.dropdownList ul{
  width: 552px !important;
  background: #ffffff;
  border: 0.5px solid #eff1f3;
  border-radius: 8px;    
  padding: 6px;
}

.bottomMsg{
  margin-top: 24px;
  color: #061425;
  font-size: 16px;
}
.topMsg{
  color: #061425;
  font-size: 16px;
}


